// config.json.sample
{
  // your api keys here:
  "google_ai_api_key": "ABCDEFGHIJK1234567890",
  /*
  // or, for fetching google ai api key from infisical:
  "infisical": {
    "client_id": "012345-abcdefg-987654321",
    "client_secret": "aAbBcCdDeEfFgG0123456789xyzwXYZW",

    "project_id": "012345abcdefg",
    "environment": "dev",
    "secret_type": "shared",

    "google_ai_api_key_key_path": "/path/to/your/KEY_TO_GOOGLE_AI_API_KEY",
  },
  */
  /*
  // or, read google credentials file from filepath:
  "google_credentials_filepath": "/path/to/credentials.json",
  "location": "us-west-1",
  */

  // configurations for google ai model
  //
  // NOTE: if not set here, default values will be used instead
  //"google_ai_model": "gemini-2.5-flash",
  //"system_instruction": "You are a chat bot which responds to user requests reliably and accurately.",

  // network timeout seconds (for uploading files, fetching urls, and/or generating responses)
  //
  // NOTE: if not set here, default values will be used instead 
  //"timeout_seconds": 300,
  //"replace_http_url_timeout_seconds": 10,
}
